# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-workspace, atom-text-editor:not([mini])':
  'cmd-ctrl-h': 'editor:move-to-first-character-of-line'
  'cmd-ctrl-j': 'core:move-to-bottom'
  'cmd-ctrl-k': 'core:move-to-top'
  'cmd-ctrl-l': 'editor:move-to-end-of-screen-line'

  'cmd-shift-ctrl-h': 'editor:select-to-first-character-of-line'
  'cmd-shift-ctrl-j': 'core:select-to-bottom'
  'cmd-shift-ctrl-k': 'core:select-to-top'
  'cmd-shift-ctrl-l': 'editor:select-to-end-of-line'

'body, atom-workspace, atom-text-editor':
  'ctrl-h': 'core:move-left'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'ctrl-l': 'core:move-right'

  'shift-ctrl-h': 'core:select-left'
  'shift-ctrl-j': 'core:select-down'
  'shift-ctrl-k': 'core:select-up'
  'shift-ctrl-l': 'core:select-right'
